:root {
  --primary: #0065a5;
  --secondary: #f9f6f0;
}

body {
  margin: 0;
  background-color: var(--secondary);
  font-family: Manrope, sans-serif;
}


.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}
.text-mehroon {
  color: #730b18;
}
.text-dark-blue {
  color: #105467;
}
.text-yellowish {
  color: #8a5312;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-grey {
  color: #8B8A88;
}
.text-light-grey {
  color: #6D6D6D;
}
.text-grey-3{
  color: #666666;
}
.text-grey-4{
  color: #6F6F6F;
}
.text-grey-5{
  color: #9A9A9A;
}
.text-grey-6{
  color: #A7A7A7;
}
.text-grey-8{
  color: #C4C4C4;
}

.text-red {
  color: #FF0000;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.item-center {
  align-items: center;
}

.font-bold {
  font-weight: bold;
}
.font-weight-1{
  font-weight: 500;
}
.font-weight-2{
  font-weight: 100;
}
.font-weight-3{
  font-weight: 700;
}
.font-weight-4{
  font-weight: 600;
}
/*padding on all side*/
.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}
.p-3 {
  padding: 18px;
}
.p-4 {
  padding: 20px;
}
.p-5 {
  padding: 30px;
}
.p-6 {
  padding: 40px;
}
.p-7 {
  padding: 60px;
}
.p-8 {
  padding: 200px;
}

/*padding on left side*/
.pl-1 {
  padding-left: 5px;
}
.pl-2 {
  padding-left: 10px;
}
.pl-3 {
  padding-left: 15px;
}
.pl-4 {
  padding-left: 20px;
}
.pl-5 {
  padding-left: 80px;
}
.pl-6 {
  padding-left: 100px;
}
.pl-7 {
  padding-left: 40px;
}
.pl-8 {
  padding-left: 60px;
}
.pl-9 {
  padding-left: 150px;
}
.pl-10 {
  padding-left: 120px;
}
.pl-11 {
  padding-left: 35px;
}
.pl-12 {
  padding-left: 200px;
}
.pl-13 {
  padding-left: 400px;
}
.pl-14 {
  padding-left: 500px;
}
.pl-15 {
  padding-left: 300px;
}
.pl-16 {
  padding-left: 250px;
}
.pl-17 {
  padding-left: 50px;
}
.pl-18 {
  padding-left: 140px;
}
.pl-19 {
  padding-left: 283px;
}
.pl-20 {
  padding-left: 92px;
}
.pl-22 {
  padding-left: 125px;
}
.pl-21 {
  padding-left: 75px;
}
.pl-23 {
  padding-left: 740px;
}
.pl-24 {
  padding-left: 200px;
}
.pl-25 {
  padding-left: 180px;
}

/*padding on right side*/
.pr-1 {
  padding-right: 5px;
}
.pr-2 {
  padding-right: 10px;
}
.pr-3 {
  padding-right: 15px;
}
.pr-4 {
  padding-right: 20px;
}
.pr-5 {
  padding-right: 100px;
}
.pr-6 {
  padding-right: 150px;
}
.pr-7 {
  padding-right: 80px;
}
.pr-8 {
  padding-right: 260px;
}
.pr-9 {
  padding-right: 220px;
}
.pr-10 {
  padding-right: 60px;
}
.pr-11 {
  padding-right: 30px;
}

/* padding on top side*/
.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 20px;
}
.pt-5 {
  padding-top: 40px;
}
.pt-6 {
  padding-top: 150px;
}
.pt-7 {
  padding-top: 100px;
}
.pt-13 {
  padding-top: 83px;
}
.pt-8 {
  padding-top: 200px;
}
.pt-9 {
  padding-top: 70px;
}
.pt-10 {
  padding-top: 180px;
}
.pt-11 {
  padding-top: 900px;
}
.pt-12 {
  padding-top: 120px;
}
.pt-14 {
  padding-top: 110px;
}
.pt-15 {
  padding-top: 165px;
}
.pt-16 {
  padding-top: 60px;
}

/* padding on bottom side*/
.pb-1 {
  padding-bottom: 5px;
}
.pb-2 {
  padding-bottom: 10px;
}
.pb-3 {
  padding-bottom: 15px;
}
.pb-4 {
  padding-bottom: 20px;
}
.pb-5 {
  padding-bottom: 50px;
}
.pb-6 {
  padding-bottom: 130px;
}
.pb-7 {
  padding-bottom: 250px;
}
.pb-8 {
  padding-bottom: 100px;
}
.pb-9 {
  padding-bottom: 80px;
}
.pb-10 {
  padding-bottom: 40px;
}


/* padding on left and right side*/
.px-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.px-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.px-5 {
  padding-right: 50px;
  padding-left: 50px;
}
.px-6 {
  padding-right: 25px;
  padding-left: 25px;
}
.px-7 {
  padding-right: 40px;
  padding-left: 40px;
}
.px-8 {
  padding-right: 70px;
  padding-left: 70px;
}
.px-9 {
  padding-right: 120px;
  padding-left: 120px;
}
.px-10 {
  padding-right: 35px;
  padding-left: 35px;
}
.px-11 {
  padding-right: 80px;
  padding-left: 80px;
}
.px-12 {
  padding-right: 125px;
  padding-left: 125px;
}
.px-13 {
  padding-right: 90px;
  padding-left: 90px;
}
.px-14 {
  padding-right: 60px;
  padding-left: 60px;
}

/* padding on top and bottom */

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-7 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-6 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*  */
/*margin on all side*/
.m{
  margin: 0;
}
.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}
.m-4 {
  margin: 20px;
}

/*margin on left side*/
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.ml--2 {
  margin-left: 10px;
}

/*margin on right side*/
.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}

/* margin on top side*/
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}

/* margin on bottom side*/
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}

/* margin on left and right side*/
.mx-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-3 {
  margin-right: 15px;
  margin-left: 15px;
}

.mx-4 {
  margin-right: 20px;
  margin-left: 20px;
}

/* margin on top and bottom */

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}


.font-size{
  font-size: 50px;
}
.font-size-2{
  font-size: 60px;
}
.font-size-3{
  font-size: 35px;
}
.font-size-4{
  font-size: 20px;
}
.font-size-5{
  font-size: 15px;
}
.font-size-6{
  font-size: 30px;
}
.font-size-7{
  font-size: 22px;
}
.font-size-8{
  font-size: 18px;
}

.btn {
  border: none;
}
.btn-border {
  border: 2px solid black;
}
.btn2-border {
  border: 2px solid #0065a5;
}
.btn3-border {
  border: 1px solid #f9f6f0;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}
.box-shadow{
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.btn4-border {
  border: 2px solid white;
}

.btn-sm {
  font-size: 13px;
}

.btn-md {
  font-size: 16px;
}

.btn-round-50 {
  border-radius: 50px;
}

.btn-round-10 {
  border-radius: 10px;
}
.btn-round-5 {
  border-radius: 5px;
}

.border-primary-1 {
  border: 1px solid var(--primary);
}

.up-div{
  font-size: small;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-with-button {
  display: flex;
  flex-direction: row;
  position: relative;
  
}

.input-with-button input {
  width: 300px;
  padding: 18px;
  padding-right: 40px;
  border: none;
}

.input-with-button button {
  position: absolute;
  right: 0;
  /* top: 0;
  bottom: 0; */
  border: none;
  background-color: #0065a5;
  color: white;
  padding: 18px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: lightgray;
  font-size: 12px;
  background-color: white;
}

.menu-bar {
  display: flex;
  /* justify-content: space-between; */
  background-color: white;
  font-weight: 600;
  border-top: 1px solid #E2E2E2;
}
.menu-right{
   font-weight: 300;
   font-size: 15px;
}
.menu-right-info{
  font-weight: 600;
}
.menu-bar a {
  text-decoration: none;
  color: #0065a5;
}
.menu-left a{
  margin: 10px;
}


.hero-section {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #9A9A9A;
}

.cover{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0;
}
.hero-section-heading-1{
  margin-bottom: 0;
}
.hero-section-heading-2{
  margin-top: 0;
  margin-bottom: 0;
}
.hero-section-heading-4{
  margin-left: 0;
  margin-right: 0;
}
.hero-section-heading-3{
  margin-top: 0;
}
.hero-section-btn-1{
   display: flex;
   flex-direction: row;
}

.marquee a{
  text-decoration: none;
}

.second-section {
  display: flex;
  flex-direction: row;
}
.cent {
  height: 330px ;
}

.third-section {
  display: flex;
}

.cards {
  display: flex;
  gap: 40px;
  height: 450px;
  padding-top: 60px;
}
.card {
  position: relative;
  width: 480px;
  height: 380px;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  overflow: visible;
}

.card img {
  position: absolute;
  top: -40px;
  left: 50px;
  width: 200px;
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.right {
  padding-left: 80px;
}

.card-content {
  margin-left: 120px;
}

.card-content h2 {
  font-size: 20px;
  margin: 0;
  color: #252525;
}

.card-content p {
  font-size: 14px;
  color: #A7A7A7;
  margin: 8px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.price {
  font-size: 22px;
  color: #0070c9;
  font-weight: bold;
  margin: 15px 0;
  padding-top: 5px;
  padding-bottom: 7px;
}

.btn-2 {
  background-color: #005db8;
  color: white;
  border: none;
  padding: 20px 60px;
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.hero-btn {
  display: flex;
  /* justify-content: space-between; */
}

.images {
  display: flex;
  justify-content: space-evenly;
}
.curriculum {
  display: flex;
  justify-content: space-evenly;
}

.reviews-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 20px;
  box-sizing: border-box;
}

.reviews-bg {
  position: relative;
  width: 1200px;
  max-width: 100%;
  background-image: url('green.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 100px 40px;
  color: white;
  box-sizing: border-box;
}

.reviews-text {
  text-align: left;
  margin-bottom: 40px;
  position: relative;
  top: -60px;
}

.reviews-text .small-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.reviews-text .big-title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}


.mark {
  position: absolute;
  top: 40px;
  right: 180px;  
  border-radius: 10px;
  background-color: white;
  padding: 20px 25px;
  width: fit-content;
  color: white;
}

.review-text {
  font-size: 16px;
  margin: 10px 0;
  color: black;
}

.icon {
  font-size: 60px;
}


 .text-img {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  opacity: 0.8;
}

.up-img img {
  max-width: 500px;
  height: auto;
  padding-top:150px ;
}

.cover-1{
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0;
}

.eight-sec {
  display: flex;
  flex-direction: row;
}
.l-bg {
  width: 42%;
}
.right-div {
  display: flex;
  flex-direction: row;
}

 .eight-right-img {
  display: flex;
  justify-content: flex-end; /* right side */
}

.women {
  padding: 30px;
  border: 2px solid var(--primary);
  border-radius: 100px;
}


.nine-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.prices{
  font-family: Manrope, sans-serif;;
}

.nine-second {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
}
.last-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.last-sec a {
  text-decoration: none;
}

 .last-work {
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  padding-top: 380px;
  text-align: center;
}


.child-learning {
  background-image: url("kid-learn.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



